# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data & large files
*.h5
*.pkl
*.csv
*.zip

# OS
.DS_Store
Thumbs.db
